@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Ubuntu', 'Roboto', sans-serif;
}

body {
    background-color: #03914E;
    color: white;
    height: 100vh;
}

header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 a{
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

main {
    height: 80%;
    position: relative;
}

p {
    font-size: 20px;
}

/*User options*/

#user, #computer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user h2 {
    font-size: 24px;
}

#options-container, #computer-container {
    height: 55%;
    width: 50%;
}

#options {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
}

#options li, #computer-selection {
    height: 80%;
    width: 20%;
    border-radius: 5px;
    background-color: #039E56;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease-in-out;
}

#options li img, #computer-img {
    height: 80%;
    width: 80%;
    cursor: pointer;
}

#options li:hover {
    background-color: #fff;
}

/*Computer response*/

#computer-container {
    display: flex;
    justify-content: center;
}

/*Result modal*/

#result-modal {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 40%;
    background-color: #fff;
    z-index: 2;
    height: 20%;
    width: 40%;
    border-radius: 5px;
}

#message-modal {
    color: #03914E;
}

#close-modal {
    background-color: #03914E;
    color: #fff;
    padding: 1% 2%;
    border: 1px solid #039E56;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

#close-modal:hover {
    background-color: #fff;
    color: #03914E;
}

/*Footer*/

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media screen and (max-width: 420px) {
    header h1 a {
        font-size: 30px;
    }
    #user h2 {
        font-size: 22px;
    }
    p {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    #options-container, #computer-selection {
        width: unset;
    }
}