* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Recoleta', 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.eot');
    src: url('../fonts/Recoleta-RegularDEMO.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Recoleta-RegularDEMO.woff2') format('woff2'),
        url('../fonts/Recoleta-RegularDEMO.woff') format('woff'),
        url('../fonts/Recoleta-RegularDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgb(209, 109, 109);
    color: white;
    height: 100vh;
}

header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 a{
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

main {
    height: 90%;
    position: relative;
}

#español {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    color: rgb(209, 109, 109);
    position: absolute;
    bottom: 50px;
    right: 50px;
    overflow: hidden;
    cursor: pointer;
}

#español a img {
    height: 100%;
    width: auto;
}