* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Recoleta', 'Roboto', sans-serif;
}

/*Recoleta*/

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-RegularDEMO.eot;');
    src: url('../fonts/Recoleta-RegularDEMO.woff2') format('woff2'),
        url('../fonts/Recoleta-RegularDEMO.woff') format('woff'),
        url('../fonts/Recoleta-RegularDEMO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: rgb(209, 109, 109);
    color: white;
    height: 100vh;
}

header {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 a{
    font-size: 40px;
    font-weight: 600;
    text-decoration: none;
    color: #fff;
}

main {
    height: 80%;
    position: relative;
}

p {
    font-size: 20px;
}

/*To spanish*/

#español {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: white;
    color: rgb(209, 109, 109);
    position: absolute;
    bottom: 50px;
    right: 50px;
    overflow: hidden;
    cursor: pointer;
}

#español a img {
    height: 100%;
    width: auto;
    position: absolute;
    left: -15px;
}

/*User options*/

#user, #computer {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#user h2 {
    font-size: 24px;
}

#options-container, #computer-container {
    height: 55%;
    width: 50%;
}

#options {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: auto;
}

#options li {
    height: 80%;
    width: 20%;
    border-radius: 5px;
    background-color: burlywood;
}

/*Computer response*/

#computer-container {
    display: flex;
    justify-content: center;
}

#computer-selection {
    height: 80%;
    width: 20%;
    border-radius: 5px;
    background-color: burlywood;
}

/*Footer*/

footer {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}